{% extends "layout.html" %}
{% block content %}
    <h1>Contact Page</h1>
    <h2>UMKC Contact Information.</h2>
    <address>
        5000 Holmes St,<br />
        Kansas City, MO 64110<br />
        <abbr title="Phone">P:</abbr>
        816.235.1000
    </address>

    <address>
        <strong>Support:</strong> <a href="lgu4wc@mail.umkc.edu">lgu4wc@mail.umkc.edu</a><br />
        <strong>Marketing:</strong> <a href="sjbae@mail.umkc.edu">sjbae@mail.umkc.edu</a>
    </address>

{% endblock content %}
