@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    This project is for Commerce Bank in colaboration with UMKC students of CS-451, 
    Group # 3. This is a web application that pulls in transaction details (we will
    provide sample data) and allows the user to set alerts/business rules and receive 
    notifications around them. The system should also save data to a database so 
    recurring reports can be created.
</p>
